{% extends "default.twig" %}

{% block body_class %}  main-page {% endblock %}

{% block title %}
    Yay4Monday - Tech companies with happy and engaged employees
{% endblock %}

{% block styles %}{% endblock %}


{% block page %}
    {% include "header.twig" %}

    <div class="b-center b-blog">
        <div class="b-blog__aside">
            <div class="b-guide">
                <div class="b-guide__step  state-show">
                    <div class="b-guide__title">
                        Which Genre do you <br> write?
                    </div>
                    <div class="b-guide__tags">
                        <a href="#" class="btn-round">
                            Romance
                        </a>
                        <a href="#" class="btn-round">
                            Erotica
                        </a>
                        <a href="#" class="btn-round">
                            Thriller
                        </a>
                        <a href="#" class="btn-round">
                            Fantasy
                        </a>
                        <a href="#" class="btn-round">
                            Sci-fi
                        </a>
                        <a href="#" class="btn-round">
                            Other
                        </a>
                    </div>
                </div>
                <div class="b-guide__step">
                    <div class="b-guide__title">
                        What Do You Write?
                    </div>
                    <a href="#" class="b-guide__btn btn-round">
                        Novel
                    </a>
                    <a href="#" class="b-guide__btn btn-round">
                        Short Stories
                    </a>
                </div>
                <div class="b-guide__step">
                    <div class="b-guide__title">
                        What Is Your Status Of Completion?
                    </div>
                    <a href="#" class="b-guide__select btn-round">
                        Only Started
                    </a>
                    <a href="#" class="b-guide__select btn-round">
                        Almost Finished
                    </a>
                    <a href="#" class="b-guide__select btn-round">
                        Final Editing
                    </a>
                    <a href="#" class="b-guide__select btn-round">
                        Seeking a Publisher
                    </a>
                </div>
                <div class="b-guide__step">
                    <div class="b-guide__title">
                        Submit your email to learn more about publishing process
                    </div>
                    <form action="#" class="b-email">
                        <input type="email" class="b-email__input" placeholder="george@moxeve.com" />
                        <button type="submit" class="btn-simple b-email__btn">
                            Submit
                        </button>
                    </form>
                </div>
            </div>

        </div>
        <div class="b-blog__main">
            <h2 class="b-blog__title">
                9 Fabulous German Expressions That Will Make You Sound Like A Native
            </h2>
            <div class="b-blog__text">
                Aenean eget nisi non turpis suscipit aliquam. Vestibulum sit amet magna eget ligula mattis rutrum. Pellentesque habitant morbi tristique senectus
            </div>
            <div class="b-blog__author">
                By <a href="#" class="b-blog__link">George Moxeve</a>
            </div>
            <div class="b-blog__content">
                <div class="b-blog__sharing">
                    <div class="b-sharing">
                        <div class="b-sharing__title">
                            1.7k
                        </div>
                        <div class="b-sharing__text">
                            shares
                        </div>
                        <div class="b-sharing__social">
                            <a href="#" class="b-sharing__i type-fb"></a>
                            <a href="#" class="b-sharing__i type-tw"></a>
                            <a href="#" class="b-sharing__i type-in"></a>
                            <a href="#" class="b-sharing__i type-mail"></a>
                        </div>
                    </div>


                </div>
                <div class="b-blog__detail">
                    <img src="./assets/images/temp/img-1.png" alt=""/>

                    <p>
                        Nulla placerat ultricies metus vitae venenatis. Sed ac ante et lorem rutrum hendrerit volutpat et urna. Cras dictum lobortis mauris commodo efficitur. Vivamus et vulputate massa. Ut diam nisl, ullamcorper luctus aliquet id, faucibus vel neque.
                    </p>
                    <p>
                        Fusce dapibus vehicula massa molestie pulvinar. Nam sodales quam sit amet diam egestas, nec condimentum velit finibus.
                    </p>

                    <p>
                        Aliquam id mi massa. Maecenas egestas nibh at sem vulputate fringilla. Etiam purus eros, lobortis eu tortor sed, vulputate fringilla turpis. Curabitur cursus massa felis, eget placerat massa maximus a. Vivamus arcu dui, volutpat quis viverra nec, eleifend sit amet libero. Duis luctus mi efficitur ipsum dapibus viverra. Fusce scelerisque ornare magna ac vulputate. Curabitur egestas, nulla quis scelerisque auctor, ante lectus lobortis ipsum, egestas molestie neque lectus sed est. Nullam pharetra, urna et laoreet malesuada, lorem lorem laoreet ex, id dictum nisi
                    </p>

                    <h4>
                        Most Recent Inkitt Bestsellers
                    </h4>

                    <div class="b-recent">
                        <div class="b-recent__list">
                            <div class="b-slider carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <div class="b-slider__img state_active" style="background-image: url(./assets/images/temp/img-6.png);"></div>
                                        <div class="b-slider__img" style="background-image: url(./assets/images/temp/img-6.png);"></div>
                                        <div class="b-slider__img" style="background-image: url(./assets/images/temp/img-6.png);"></div>
                                        <div class="b-slider__img" style="background-image: url(./assets/images/temp/img-6.png);"></div>
                                    </div>
                                </div>
                                <a href="#carousel-example-generic" role="button" data-slide="prev" class="b-slider__arrow type-left"></a>
                                <a href="#carousel-example-generic" role="button" data-slide="next" class="b-slider__arrow type-right"></a>
                            </div>
                        </div>
                        <div class="b-recent__title">
                            Cold Story: A Story About All
                        </div>
                        <div class="b-recent__rating">
                            4.6
                        </div>
                        <div class="b-recent__text">
                            <p>
                                Nulla placerat ultricies metus vitae venenatis. Sed ac ante et lorem rutrum hendrerit volutpat et urna. Cras dictum lobortis mauris commodo efficitur. Vivamus et vulputate massa. Ut diam nisl, ullamcorper luctus aliquet id, faucibus vel neque.
                            </p>

                            <div class="title">
                                Successes:
                            </div>
                            <p>
                                #1 in “Teen & Young Adult Dating & Intimacy eBooks” <br>
                                #1 in “LGBT” <br>
                                #1 in “Gay Romance” <br>
                                #3 in “Teen & Young Literature & Fixtion”
                            </p>
                        </div>
                    </div>

                    <p>
                        Nulla placerat ultricies metus vitae venenatis. Sed ac ante et lorem rutrum hendrerit volutpat et urna. Cras dictum lobortis mauris commodo efficitur. Vivamus et vulputate massa. Ut diam nisl, ullamcorper luctus aliquet id, faucibus vel neque.
                    </p>

                    <div class="b-steps">
                        <div class="b-steps__i">
                            <img src="./assets/images/temp/img-2.png" alt="" class="b-steps__i-img">
                            <div class="b-steps__i-decsr">
                                Submit your novel on
                                inkitt
                            </div>
                        </div>
                        <div class="b-steps__i">
                            <img src="./assets/images/temp/img-3.png" alt="" class="b-steps__i-img">
                            <div class="b-steps__i-decsr">
                                If readers love your novel,
                                our algorithm will detect it
                            </div>
                        </div>
                        <div class="b-steps__i">
                            <img src="./assets/images/temp/img-4.png" alt="" class="b-steps__i-img">
                            <div class="b-steps__i-decsr">
                                We offer you a publishing deal
                            </div>
                        </div>
                    </div>

                    <p>
                        Fusce dapibus vehicula massa molestie pulvinar. Nam sodales quam sit amet diam egestas, nec condimentum velit finibus.
                    </p>

                    <img src="./assets/images/temp/img-5.png" alt=""/>

                    <p>
                        Nulla placerat ultricies metus vitae venenatis. Sed ac ante et lorem rutrum hendrerit volutpat et urna. Cras dictum lobortis mauris commodo efficitur. Vivamus et vulputate massa. Ut diam nisl, ullamcorper luctus aliquet id, faucibus vel neque.
                    </p>

                    <img src="./assets/images/temp/img-6.png" alt=""/>

                    <div class="b-blog__detail-sharing b-sharing b-sharing_type_horizontal">
                        <div class="b-sharing__right">
                            <div class="b-sharing__title">
                                1.7k
                            </div>
                            <div class="b-sharing__text">
                                shares
                            </div>
                        </div>

                        <a href="#" class="b-sharing__i type-fb"></a>
                        <a href="#" class="b-sharing__i type-tw"></a>
                        <a href="#" class="b-sharing__i type-in"></a>
                        <a href="#" class="b-sharing__i type-mail"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="b-subs">
        <div class="b-center b-subs__inner">
            <div class="b-subs__content">
                <div class="b-subs__text">
                    Ready to become a best-selling author and join the publishing revolution?
                </div>
            </div>
            <div class="b-subs__aside">
                <a href="#" class="btn-simple b-submit-novel b-subs__btn">
                    Submit Your Novel now!
                </a>
            </div>
        </div>
    </div>

    <div class="b-center">
        <div class="b-related">
            <div class="b-related__title">
                Related Articles
            </div>
            <div class="b-related__list">
                <a href="#" class="b-related__i">
                    <div class="b-related__img"></div>
                    <div class="b-related__text">
                        Pellentesque at urna id dui tincidunt hendrerit ut commodo odio.
                    </div>
                </a>
                <a href="#" class="b-related__i">
                    <div class="b-related__img"></div>
                    <div class="b-related__text">
                        Donec vitae purus venenatis, accumsan felis molestie, lacinia lectus.
                    </div>
                </a>
                <a href="#" class="b-related__i">
                    <div class="b-related__img"></div>
                    <div class="b-related__text">
                        Cras non nulla eget purus lobortis pretium.
                    </div>
                </a>
            </div>
        </div>


        <div class="b-team">
            <div class="b-team__img"></div>
            <div class="b-team__content">
                <div class="b-team__title">
                    The Inkitt Team
                </div>
                <div class="b-team__text">
                    Nulla placerat ultricies metus vitae venenatis. Sed ac ante et lorem rutrum hendrerit volutpat et urna. Cras dictum lobortis mauris commodo efficitur. Vivamus et vulputate massa. Ut diam nisl, ullamcorper luctus aliquet id, faucibus vel neque. Fusce dapibus vehicula massa molestie pulvinar. Nam sodales quam sit amet diam egestas, nec condimentum velit finibus.
                </div>
            </div>
        </div>
    </div>


{% endblock %}
