
<div class="background-default navBarMenu navbar navbar-static-top without-user" navbar="">
    <div class="navbar-inner">
        <a class="brand" href="/" target="_self" title="Inkitt - The Hipster's Digital Library for Writers and Readers">
            Inkitt
        </a>
        <div class="nav-collapse">
            <ul class="nav pull-left">
                <li class="categories-tab" ng-mouseout="removeHoveredClass($event)" ng-mouseover="addHoveredClass($event)">
                    <a href="javascript:void(0);">
                        Genres
                    </a>
                    <div class="categories-menu">
                        <div class="categories-menu-background">
                            <div class="arrow-box"></div>
                            <div class="row-fluid">
                                <div class="recommended-categories-container">
                                    <div class="row no-gutters">
                                        <div class="col">
                                            <a alt="Read Trending Stories" class="recommended-category-link" href="/" ng-href="/" target="_self" title="Read Trending Stories">
                                                <div class="recommended-category-row row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="navbar-icon-trendingstories"></div>
                                                    </div>
                                                    <div class="col title">Trending Stories</div>
                                                </div>
                                            </a>
                                            <a alt="Read Horror Stories for Free" class="recommended-category-link" href="/genres/horror" ng-href="/genres/horror" target="_self" title="Read Horror Stories for Free">
                                                <div class="recommended-category-row row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="navbar-icon-genre-horror"></div>
                                                    </div>
                                                    <div class="col title">Horror</div>
                                                </div>
                                            </a>
                                            <a alt="Read Fanfiction Stories for Free" class="recommended-category-link" href="/fanfiction" ng-href="/fanfiction" target="_self" title="Read Fanfiction Stories for Free">
                                                <div class="recommended-category-row row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="navbar-icon-genre-fanfiction"></div>
                                                    </div>
                                                    <div class="col title">Fandoms</div>
                                                </div>
                                            </a>
                                            <a alt="Read Fantasy Stories for Free" class="recommended-category-link" href="/genres/fantasy" ng-href="/genres/fantasy" target="_self" title="Read Fantasy Stories for Free">
                                                <div class="recommended-category-row row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="navbar-icon-genre-fantasy"></div>
                                                    </div>
                                                    <div class="col title">Fantasy</div>
                                                </div>
                                            </a>
                                            <a alt="Read Romance Stories for Free" class="recommended-category-link" href="/genres/romance" ng-href="/genres/romance" target="_self" title="Read Romance Stories for Free">
                                                <div class="recommended-category-row row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="navbar-icon-genre-romance"></div>
                                                    </div>
                                                    <div class="col title">Romance</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col">
                                            <a alt="Read Sci-fi Stories for Free" class="recommended-category-link" href="/genres/scifi" ng-href="/genres/scifi" target="_self" title="Read Sci-fi Stories for Free">
                                                <div class="recommended-category-row row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="navbar-icon-genre-scifi"></div>
                                                    </div>
                                                    <div class="col title">Sci-fi</div>
                                                </div>
                                            </a>
                                            <a alt="Read Thriller Stories for Free" class="recommended-category-link" href="/genres/thriller" ng-href="/genres/thriller" target="_self" title="Read Thriller Stories for Free">
                                                <div class="recommended-category-row row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="navbar-icon-genre-thriller"></div>
                                                    </div>
                                                    <div class="col title">Thriller</div>
                                                </div>
                                            </a>
                                            <a alt="Read Mystery Stories for Free" class="recommended-category-link" href="/genres/mystery" ng-href="/genres/mystery" target="_self" title="Read Mystery Stories for Free">
                                                <div class="recommended-category-row row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="navbar-icon-genre-mystery"></div>
                                                    </div>
                                                    <div class="col title">Mystery</div>
                                                </div>
                                            </a>
                                            <a alt="Read Humor Stories for Free" class="recommended-category-link" href="/genres/humor" ng-href="/genres/humor" target="_self" title="Read Humor Stories for Free">
                                                <div class="recommended-category-row row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="navbar-icon-genre-humor"></div>
                                                    </div>
                                                    <div class="col title">Humor</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="link other-categories-link" ng-click="showOtherCategories = !showOtherCategories; $event.stopPropagation();" ng-hide="showOtherCategories" ng-init="showOtherCategories = false">
                                    Other categories
                                </h5>
                                <div class="divider ng-hide" ng-show="showOtherCategories"></div>
                                <div class="other-categories-container ng-hide" ng-show="showOtherCategories">
                                    <div class="row no-gutters">
                                        <ul class="unstyled col-6 category-column">
                                            <li>
                                                <a alt="Read Action Stories for Free" class="category-link" href="/genres/action" ng-href="/genres/action" target="_self" title="Read Action Stories for Free">
                                                    Action
                                                </a>
                                            </li>
                                            <li>
                                                <a alt="Read Adventure Stories for Free" class="category-link" href="/genres/adventure" ng-href="/genres/adventure" target="_self" title="Read Adventure Stories for Free">
                                                    Adventure
                                                </a>
                                            </li>
                                            <li>
                                                <a alt="Read Children Stories for Free" class="category-link" href="/genres/children" ng-href="/genres/children" target="_self" title="Read Children Stories for Free">
                                                    Children
                                                </a>
                                            </li>
                                            <li>
                                                <a alt="Read Drama Stories for Free" class="category-link" href="/genres/drama" ng-href="/genres/drama" target="_self" title="Read Drama Stories for Free">
                                                    Drama
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="unstyled col-4 category-column">
                                            <li>
                                                <a alt="Read Poetry Stories for Free" class="category-link" href="/genres/poetry" ng-href="/genres/poetry" target="_self" title="Read Poetry Stories for Free">
                                                    Poetry
                                                </a>
                                            </li>
                                            <li>
                                                <a alt="Read Erotica Stories for Free" class="category-link" href="/genres/erotica" ng-href="/genres/erotica" target="_self" title="Read Erotica Stories for Free">
                                                    Erotica
                                                </a>
                                            </li>
                                            <li>
                                                <a alt="Read Other Stories for Free" class="category-link" href="/genres/other" ng-href="/genres/other" target="_self" title="Read Other Stories for Free">
                                                    Other
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/groups" target="_self">Groups</a>
                </li>
                <li class="contests-popup categories-tab" ng-mouseout="removeHoveredClass($event)" ng-mouseover="addHoveredClass($event)">
                    <a href="/contests" target="_self" title="Writing Contests">Writing Contests</a>
                    <div class="categories-menu">
                        <div class="categories-menu-background">
                            <div class="arrow-box"></div>
                            <div class="row-fluid">
                                <div class="recommended-categories-container">
                                    <a class="recommended-category-link" href="/publishingcontest" target="_self">
                                        <div class="recommended-category-row row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <img alt="93caece0-8dff-4208-ab53-ebcaf8baa1c8" src="https://commondatastorage.googleapis.com/rocky-production/contestpictures/93caece0-8dff-4208-ab53-ebcaf8baa1c8.jpg">
                                            </div>
                                            <div class="col title">
                                                Novel Contest
                                                <br>
                                                <span>
Win &amp; Get Published
</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <h5 class="link all-contests-link">
                                    <a href="/contests" target="_self">
                                        Show all contests
                                    </a>
                                </h5>

                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/shop" target="_self">
                        Shop
                    </a>
                </li>
                <li ng-hide="searchExpanded">
                    <a class="navBarMenu-contest" href="/publishingcontest" ng-click="trackByttonClick(publishingcontest, $event)" style="background-image: url(https://commondatastorage.googleapis.com/rocky-production/contestpictures/3734abc8-7a14-475c-8374-8987c66f44c2.png)" target="_self" title="Novel Contest"></a>
                </li>
            </ul>
            <div class="spinner ng-hide" ng-show="loadingData" spinner=""><div class="spinner" role="progressbar" style="position: relative; width: 0px; z-index: 2000000000; left: 0px; top: -8px;"><div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-100-25-0-12 0.5s linear infinite;"><div style="position: absolute; width: 6px; height: 3px; background: rgb(0, 0, 0); box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(0deg) translate(7px, 0px); border-radius: 0px;"></div></div><div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-100-25-1-12 0.5s linear infinite;"><div style="position: absolute; width: 6px; height: 3px; background: rgb(0, 0, 0); box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(30deg) translate(7px, 0px); border-radius: 0px;"></div></div><div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-100-25-2-12 0.5s linear infinite;"><div style="position: absolute; width: 6px; height: 3px; background: rgb(0, 0, 0); box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(60deg) translate(7px, 0px); border-radius: 0px;"></div></div><div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-100-25-3-12 0.5s linear infinite;"><div style="position: absolute; width: 6px; height: 3px; background: rgb(0, 0, 0); box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(90deg) translate(7px, 0px); border-radius: 0px;"></div></div><div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-100-25-4-12 0.5s linear infinite;"><div style="position: absolute; width: 6px; height: 3px; background: rgb(0, 0, 0); box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(120deg) translate(7px, 0px); border-radius: 0px;"></div></div><div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-100-25-5-12 0.5s linear infinite;"><div style="position: absolute; width: 6px; height: 3px; background: rgb(0, 0, 0); box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(150deg) translate(7px, 0px); border-radius: 0px;"></div></div><div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-100-25-6-12 0.5s linear infinite;"><div style="position: absolute; width: 6px; height: 3px; background: rgb(0, 0, 0); box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(180deg) translate(7px, 0px); border-radius: 0px;"></div></div><div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-100-25-7-12 0.5s linear infinite;"><div style="position: absolute; width: 6px; height: 3px; background: rgb(0, 0, 0); box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(210deg) translate(7px, 0px); border-radius: 0px;"></div></div><div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-100-25-8-12 0.5s linear infinite;"><div style="position: absolute; width: 6px; height: 3px; background: rgb(0, 0, 0); box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(240deg) translate(7px, 0px); border-radius: 0px;"></div></div><div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-100-25-9-12 0.5s linear infinite;"><div style="position: absolute; width: 6px; height: 3px; background: rgb(0, 0, 0); box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(270deg) translate(7px, 0px); border-radius: 0px;"></div></div><div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-100-25-10-12 0.5s linear infinite;"><div style="position: absolute; width: 6px; height: 3px; background: rgb(0, 0, 0); box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(300deg) translate(7px, 0px); border-radius: 0px;"></div></div><div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-100-25-11-12 0.5s linear infinite;"><div style="position: absolute; width: 6px; height: 3px; background: rgb(0, 0, 0); box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(330deg) translate(7px, 0px); border-radius: 0px;"></div></div></div></div>
            <ul class="nav pull-right">
                <li class="search ng-scope" ng-controller="SearchBarCtrl">
                    <a ng-click="expandSearchBar()" ng-hide="searchExpanded">
                        <i class="icon-search"></i>
                        Search
                    </a>

                </li><li class="write-story">
                    <a id="open-new-story-modal" ng-click="openNewStoryModal()">
                        <i class="icon-feather"></i>
                        Write
                    </a>
                </li>

                <li>
                    <a ng-click="showLoginSignup('Navbar signup')" target="_self">
                        <i class="icon-user"></i>
                        Sign up
                    </a>
                </li>
                <li>
                    <a ng-click="showLoginSignup('Navbar login')" target="_self">
                        Log in
                    </a>
                </li>
                <li class="more-links" ng-mouseout="removeHoveredClass($event)" ng-mouseover="addHoveredClass($event)">
                    <a href="javascript:void(0);" id="more-links">
                        <i class="icon-dot-3"></i>
                    </a>
                    <div class="more-links-menu">
                        <div class="more-links-menu-background">
                            <div class="arrow-box"></div>
                            <div class="row-fluid">
                                <div class="more-links-container ng-scope" ng-controller="FooterCtrl">
                                    <div class="block about-block">
                                        <a ng-click="showHowItWorksModal()">
                                            How it works
                                        </a>
                                        <a href="/publishing" target="_self">Get published</a>
                                        <a href="/badges" target="_self">Badges</a>
                                        <a href="/guidelines" target="_self">Guidelines</a>
                                        <a href="mailto:support@inkitt.com" target="_self">Contact</a>
                                    </div>
                                    <div class="devider"></div>
                                    <div class="block social-block">
                                        <a href="https://www.facebook.com/inkitt" alt="Inkitt on Facebook" target="_blank"><i class="icon-facebook-squared"></i>
                                            Facebook
                                        </a><a href="https://www.twitter.com/inkitt" alt="Inkitt on Twitter" target="_blank"><i class="icon-twitter"></i>
                                            Twitter
                                        </a><a href="/blog" alt="Literary Column" target="_self"><i class="icon-blogger-rect"></i>
                                            Blog
                                        </a></div>
                                    <div class="devider"></div>
                                    <div class="block apps-block">
                                        <a href="/jobs" alt="Jobs" target="_self">Jobs</a>
                                        <a href="/press" target="_self">Press</a>
                                        <a href="/credits" target="_self">Credits</a>
                                        <a href="/terms" target="_self">Terms</a>
                                        <a href="/imprint" target="_self">Imprint</a>
                                    </div>
                                    <div class="devider"></div>
                                    <div class="block note-block">
                                        Inked with Love
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>