@import "core/vars",
        "core/mixins";

$railway: 'raleway', Arial, sans-serif;
$helvetica: 'Helvetica Neue', Arial, sans-serif;
$roboto: 'Roboto', Arial, sans-serif;


@font-face {
    font-family: 'raleway';
    src: url('./../fonts/raleway-bold-webfont.woff2') format('woff2'),
    url('./../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('./../fonts/raleway-light-webfont.woff2') format('woff2'),
    url('./../fonts/raleway-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('./../fonts/raleway-medium-webfont.woff2') format('woff2'),
    url('./../fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('./../fonts/raleway-semibold-webfont.woff2') format('woff2'),
    url('./../fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

.b-center {
    max-width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
}

.btn-simple{
    display: inline-block;
    border: none !important;
    text-decoration: none !important;
    color: #ffffff !important;
    font-size: 18px;
    font-weight: 500;
    font-family: $roboto;
    border-radius: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-transform: uppercase;
    text-align: center;
    @include transition(all .15s ease);
}

.b-submit-novel{
    position: relative;
    background-color: #ff8c00;
    box-shadow: 0 1px 3px rgba(0,0,0, .14);
    padding: 19px 15px 18px 72px;
    
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 72px;
        border-radius: 3px 0 0 3px;
        background-color: rgba(0, 0, 0, .14);
    }
    
    &:after{
        content: '';
        position: absolute;
        left: 28px;
        top: 23px;
        width: 18px;
        height: 18px;
        background: url(./../images/icon-upload.svg) no-repeat;
    }
    
    &:hover{
        opacity: .8;
    }
    
    &:active{
        opacity: 1;
        box-shadow: none;
    }
}


.b-badge,
.btn-round{
    display: inline-block;
    vertical-align: top;
    font-family: $helvetica;
    min-width: 80px;
    box-sizing: border-box;
    padding: 0 31px;
    border: 2px solid #ced5d8;
    height: 40px;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    line-height: 35px;
    border-radius: 40px;
    color: #000000 !important;
    text-decoration: none !important;
    background-color: #F3F7FA;
    @include transition(all .15s ease);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    &:last-child{
        margin-right: 0;
    }
    
    &:hover{
        background-color: #FF8C00;
        border-color: #FF8C00;
        color: #ffffff !important;
        box-shadow: 0 1px 3px rgba(0,0,0, .14);
    }
}

// aside
.b-blog{
    @include clearfix();
    padding-top: 51px;
}

.b-blog__aside{
    font-family: $helvetica;
    float: right;
    width: 31.67%;
    margin-left: 2%;
    padding-top: 9px;
}

.b-guide{
    position: relative;
    padding: 18px 20px 20px 20px;
    min-height: 330px;
    background-color: #f3f7fa;
    border-radius: 6px;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0, .26);
}

.b-guide__step{
    display: none;
    
    &.state-show{
        display: block;
    }
}

.b-guide__title{
    margin-bottom: 24px;
    font-weight: 500;
    font-family: $railway;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.16px;
    text-align: left;
}

.b-guide__tags{
    .btn-round{
        margin-right: 15px;
        margin-bottom: 18px;
    }
}

.b-guide__btn,
.b-guide__select{
    display: block;
    width: 100%;
    margin-bottom: 12px;
}

.b-email{
    display: block;
    margin: 40px 0 0;
    padding: 0;
}

.b-email__input{
    display: block;
    width: 100%;
    height: 60px;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 500;
    font-family: $helvetica;
    text-align: left;
    padding: 0;
    border: 1px solid #d0d7db !important;
    border-width: 0 0 2px 0 !important;
    color: #000 !important;
    background: #f3f7fa !important;
    border-radius: 0 !important;
    
    &:focus{
        outline: none !important;
        box-shadow: none !important;
    }
}

.b-email__input::-webkit-input-placeholder {
    color: #949ba0;
    font-family: $helvetica;
    font-weight: 500;
}

.b-email__input::-moz-placeholder {
    color: #949ba0;
    font-family: $helvetica;
    font-weight: 500;
}

/* Firefox 19+ */
.b-email__input:-moz-placeholder {
    color: #949ba0;
    font-family: $helvetica;
    font-weight: 500;
}

/* Firefox 18- */
.b-email__input:-ms-input-placeholder {
    color: #949ba0;
    font-family: $helvetica;
    font-weight: 500;
}

.b-email__input:focus::-webkit-input-placeholder {
    color: transparent;
}

.b-email__input::-moz-placeholder {
    color: transparent;
}

/* Firefox 19+ */
.b-email__input:-moz-placeholder {
    color: transparent;
}

/* Firefox 18- */
.b-email__input:-ms-input-placeholder {
    color: transparent;
}

.b-email__btn{
    display: block;
    width: 100%;
    padding: 20px 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
    max-width: 350px;
    color: #ffffff !important;
    background-color: #FF8C00;
    box-shadow: 0 1px 3px rgba(0,0,0, .14);
    
    &:hover{
        opacity: .8;
    }
    
    &:active{
        opacity: 1;
        box-shadow: none;
    }
    
}

// blog
.b-blog__main{
    overflow: hidden;
    font-family: $helvetica;
}

.b-blog__title{
    margin-bottom: 30px;
    font-family: $railway;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: -0.55px;
}

.b-blog__text{
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 6px;
    letter-spacing: -0.15px;
}

.b-blog__author{
    font-size: 18px;
    line-height: 36px;
}

.b-blog__link{
    color: #ff8d00 !important;
    text-decoration: none !important;
    border-bottom:1px solid transparent;
    @include transition(all .15s ease);
    
    &:hover{
        border-bottom-color: #ff8d00;
    }
}

.b-blog__content{
    position: relative;
    padding-top: 28px;
}

.b-blog__sharing{
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    padding-top: 28px;
}

.b-blog__detail{
    padding-left: 100px;
    font-size: 24px;
    line-height: 36px;
    
    img{
        display: block;
        height: auto;
        max-width: 100%;
        margin-bottom: 44px;
    }
    
    p{
        margin-bottom: 36px;
    }
    
    h4{
        font-family: $railway;
        font-weight: 300;
        font-size: 32px;
        line-height: 37px;
        margin-top: 39px;
        margin-bottom: 20px;
    }
}

.b-blog__detail-sharing{
    margin-top: 60px;
    margin-bottom: 28px;
    
}

.b-steps{
    margin: 51px 0 45px;
    border:1px solid #F3F7FA;
    border-width:1px 0;
    padding: 39px 0 43px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.b-steps__i{
    flex: 0 1 200px;
    max-width: 200px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    
    &:nth-child(1) img{
        margin-top: 9px;
        margin-bottom: 25px;
    }
    
    &:nth-child(2) img{
        margin-bottom: 40px;
    }
    
    &:nth-child(3) img{
        margin-top: 12px;
        margin-bottom: 31px;
    }
}

.b-steps__i-img{
    display: block;
    margin: 0 auto 15px;
}

// sharing
.b-sharing{
    padding-top: 5px;
    text-align: center;
}

.b-sharing__title{
    font-weight: bold;
    font-size: 34px;
    line-height: 36px;
    margin-bottom: 9px;
}

.b-sharing__text{
    margin-bottom: 23px;
    color: #949ba0;
    font-size: 16px;
    line-height: 1;
    letter-spacing: -0.1px;
    text-transform: uppercase;
}

.b-sharing__i{
    position: relative;
    display: block;
    margin: 0 auto 9px;
    width: 54px;
    height: 54px;
    border-radius: 54px;
    @include transition(all .15s ease);
    text-decoration: none !important;
    
    &:after{
        content: '';
        position: absolute;
    }
    
    &:hover{
        opacity: .9;
    }
    
    &.type-fb{
        background-color: #39579B;
    
        &:after{
            left: 22px;
            top: 16px;
            width: 11px;
            height: 22px;
            background: url(./../images/icon-fb.svg) no-repeat;
        }
    }
    
    &.type-tw{
        background-color: #52D1E0;
        
        &:after{
            left: 16px;
            top: 19px;
            width: 22px;
            height: 20px;
            background: url(./../images/icon-tw.svg) no-repeat;
        }
    }
    
    &.type-in{
        background-color: #1FA2E4;
        
        &:after{
            left: 17px;
            top: 17px;
            width: 21px;
            height: 19px;
            background: url(./../images/icon-in.svg) no-repeat;
        }
    }
    
    &.type-mail{
        background-color: #888888;
        
        &:after{
            left: 17px;
            top: 20px;
            width: 21px;
            height: 15px;
            background: url(./../images/icon-mail.svg) no-repeat;
        }
    }
}

.b-sharing_type_horizontal{
    border-top:1px solid #F3F7FA;
    padding-top: 23px;
    text-align: left;
    
    .b-sharing__right{
        position: relative;
        top: -4px;
        float: right;
        width: 70px;
    }
    
    .b-sharing__text{
        margin-bottom: 0;
    }
    
    .b-sharing__i{
        display: inline-block;
        vertical-align: top;
        margin: 0 5px 0 0;
    }
}

// send block
.b-subs{
    margin-bottom: 86px;
    background-color: #F3F7FA;
    padding: 57px 0 56px;
}

.b-subs__inner{
    display: flex;
    justify-content: space-around;
}

.b-subs__content{
    flex: 1 1 0%;
}

.b-subs__aside{
    flex: 0 1 373px;
}

.b-subs__btn{
    margin-top: 4px;
    width: 100%;
}

.b-subs__text{
    overflow: hidden;
    max-width: 546px;
    font-family: $railway;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: -0.36px;
}

// related
.b-related{
    padding-bottom: 63px;
    border-bottom: 1px solid #F3F7FA;
    margin-bottom: 51px;
}

.b-related__title{
    position: relative;
    margin-bottom: 77px;
    font-family: $railway;
    font-weight: 300;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: -0.37px;
    
    &:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -17px;
        width: 70px;
        height: 2px;
        background-color: #e6e7e8;
    }
}

.b-related__list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.b-related__i{
    flex: 0 1 32%;
    text-align: left;
    text-decoration: none !important;
    color: #000000 !important;
    font-size: 24px;
    line-height: 40px;
    font-family: $railway;
    font-weight: 500;
    
    &:hover{
        text-decoration: underline !important;
    }
}

.b-related__img{
    height: 281px;
    background-color: #949BA0;
    margin-bottom: 25px;
    -webkit-background-size: cover;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.b-related__text{
    
}

// team
.b-team{
    @include clearfix();
    margin-bottom: 40px;
    font-family: $helvetica;
}

.b-team__img{
    float: left;
    margin-right: 32px;
    width: 170px;
    height: 170px;
    border-radius: 170px;
    overflow: hidden;
    background: url(./../images/team-image.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.b-team__content{
    overflow: hidden;
    padding-top: 14px;
}

.b-team__title{
    font-family: $railway;
    font-weight: 300;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: -0.4px;
    margin-bottom: 5px;
}

.b-team__text{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.11px;
}

// recent
.b-recent{
    margin: 30px 7px 30px 0;
    text-align: left;
    background-color: #f3f7fa;
    padding: 35px 40px 36px;
}

.b-recent__list{
    margin-bottom: 13px;
}

.b-recent__title{
    font-size: 26px;
    line-height: 1.4;
    margin-bottom: 7px;
    letter-spacing: -0.6px;
}

.b-recent__rating{
    position: relative;
    margin-bottom: 17px;
    padding-left: 34px;
    color: #666666;
    font-size: 18px;
    line-height: 1;
    
    &:before{
        content: '';
        position: absolute;
        left: 0;
        top: -3px;
        width: 22px;
        height: 21px;
        background: url(./../images/icon-star.svg) no-repeat;
    }
}

.b-recent__text{
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.12px;
    
    p{
        margin-bottom: 15px;
    }
    
    .title{
        font-size: 26px;
        line-height: 1;
        margin: 28px 0 11px;
    }
}

// slider
.b-slider{
    position: relative;
    
    .carousel-inner{
        padding: 5px 0;
        height: auto;
    }
    
    .item{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.b-slider__img{
    flex: 0 1 20%;
    height: 193px;
    -webkit-background-size: cover;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: 50% 50%;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0, .3);
    cursor: pointer;
    @include transition(all .15s ease);
    
    &:hover{
        box-shadow: none !important;
    }
    
    &.state_active{
        height: 251px;
        flex: 0 1 26%;
    }
}

.b-slider__arrow{
    display: block;
    position: absolute;
    z-index: 5;
    height: 87px;
    bottom: 57px;
    width: 40px;
    text-decoration: none !important;
    
    &:hover{
        background-color: #ffffff;
        box-shadow: 0 1px 3px rgba(0,0,0, .14);
        width: 61px;
    }
    
    &:before{
        content: '';
        position: absolute;
        top: 37px;
        width: 8px;
        height: 13px;
    }
    
    &.type-left{
        left: -40px;
        
        &:before{
            left: 14px;
            background: url(./../images/icon-arrow-left.svg) no-repeat;
        }
        
        &:hover:before{
            left: 26px;
            transform: scale(1.5);
            background: url(./../images/icon-arrow-left-a.svg) no-repeat;
        }
    }
    
    &.type-right{
        right: -40px;
        
        &:before{
            right: 14px;
            background: url(./../images/icon-arrow-right.svg) no-repeat;
        }
        
        &:hover:before{
            right: 26px;
            transform: scale(1.5);
            background: url(./../images/icon-arrow-right-a.svg) no-repeat;
        }
    }
}

@media screen and (max-width: 1020px){
    .b-center{
        max-width: 730px;
    }
    
    .b-blog__main{
        overflow: visible;
    }
    
    .b-blog__aside{
        width: auto;
        float: none;
        margin-left: 0;
    }
    
    .b-blog__title{
        margin-bottom: 20px;
        font-size: 26px;
        line-height: 36px;
        font-weight: 500;
        letter-spacing: -0.16px;
    }
    
    .b-blog__text,
    .b-blog__author{
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.11px;
    }
    
    .b-blog__text{
        margin-bottom: 7px;
    }
    
    .b-blog__content{
        padding-top: 31px;
    }
    
    .b-blog__detail{
        margin-bottom: 20px;
        padding-left: 0;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.11px;
        
        img{
            margin-bottom: 29px;
        }
    
        p{
            margin-bottom: 30px;
        }
    
        h4{
            margin-top: 30px;
            margin-bottom: 20px;
            font-size: 26px;
            line-height: 34px;
            letter-spacing: -0.16px;
        }
    }
    
    .b-blog__sharing{
        display: none;
    }
        
    .b-sharing__i{
        width: 48px;
        height: 48px;
        border-radius: 48px;
    
        &.type-fb:after {
            left: 19px;
            top: 15px;
            width: 9px;
            height: 20px;
        }
    
        &.type-tw:after {
            left: 15px;
            top: 16px;
            width: 20px;
            height: 17px;
        }
    
        &.type-in:after {
            left: 15px;
            top: 15px;
            width: 19px;
            height: 17px;
        }
    
        &.type-mail:after {
            left: 15px;
            top: 17px;
            width: 19px;
            height: 13px;
        }
    }
    
    .b-sharing__title{
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 3px;
    }
    
    .b-sharing__text{
        font-size: 14px;
        font-weight: 500;
    }
    
    .b-sharing_type_horizontal{
        border-top: none;
        padding-top: 0;
        margin-top: 23px;
        margin-bottom: 22px;
    }
    
    .b-submit-novel{
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 17px;
        padding-left: 66px;
        
        &:before{
            width: 66px;
        }
        
        &:after{
            left: 23px;
            top: 21px;
        }
    }
    
    .b-subs__aside{
        flex: 0 1 335px;
    }
    
    .b-subs__text{
        font-size: 26px;
        line-height: 34px;
    }
    
    .b-related__title{
        margin-bottom: 30px;
        font-size: 26px;
        line-height: 34px;
        letter-spacing: -0.16px;
        
        &:after{
            display: none;
        }
    }
    
    .b-related__i{
        font-size: 22px;
        line-height: 40px;
        letter-spacing: -0.14px;
    }
    
    .b-related__img{
        height: 200px;
    }
    
    .b-team__title{
        font-size: 26px;
        line-height: 34px;
    }
    
    .b-team__text{
        font-size: 18px;
        line-height: 30px;
    }
    
    // guide
    .b-guide{
        min-height: 0;
    }
    
    // recent
    .b-recent{
        margin: 22px 0 27px;
        padding-bottom: 16px;
    }
    
    // steps
    .b-steps{
        margin: 31px 0;
        padding: 48px 0;
    }
    
    .b-steps__i{
        font-size: 18px;
        line-height: 30px;
    }

    .b-blog__aside{
        bottom: 35px;
    }
}

@media screen and (max-width: 760px){
    .b-center{
        max-width: 400px;
    }
    
    .b-blog{
        padding-top: 0;
    }
    
    .b-blog__aside{
        padding-top: 0;
    }
    
    .b-sharing_type_horizontal{
        padding-left: 20px;
    }
    
    .b-subs{
        margin-bottom: 19px;
        padding-top: 26px;
        padding-bottom: 20px;
    }
    
    .b-subs__inner{
        display: block;
    }
    
    .b-subs__content{
        margin-bottom: 30px;
    }
    
    .b-subs__aside{
        max-width: 330px;
    }
    
    .b-related__title{
        margin-bottom: 22px;
    }
    
    .b-related{
        padding-bottom: 66px;
        margin-bottom: 40px;
    }
    
    .b-related__list{
        display: block;
    }
    
    .b-related__i{
        display: block;
        margin-bottom: 69px;
        
        &:last-child{
            margin-bottom: 0;
        }
    }
    
    .b-related__img{
        margin-bottom: 12px;
        height: 252px;
    }
    
    .b-steps{
        display: block;
    }
    
    .b-steps__i{
        max-width: 210px;
        margin-right: auto;
        margin-left: auto;
        
        &:nth-child(1){
            margin-bottom: 58px;
            
            img{
                margin-bottom: 32px;
            }
        }
    
        &:nth-child(2){
            margin-bottom: 69px;
        
            img{
                margin-bottom: 27px;
            }
        }
    
        &:nth-child(3){
            margin-bottom: 10px;
        
            img{
                margin-bottom: 32px;
            }
        }
    }
    
    .b-steps__i-img{
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    
    .b-team__img{
        width: 122px;
        height: 122px;
        float: none;
        margin: 0 auto 1px;
    }
    
    .b-team__title{
        text-align: center;
        margin-bottom: 17px;
    }
    
    .b-recent{
        padding: 25px 20px 16px;
    }
    
    .b-recent__text{
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.11px;
        
        p{
            margin-bottom: 15px;
        }
        
        .title{
            margin: 22px 0 14px;
            font-weight: 500;
        }
    }
    
    .b-slider__img{
        height: 145px;
        flex-basis: 28%;
        
        &.state_active{
            flex-basis: 32%;
            height: 190px;
        }
        
        &:last-child{
            display: none;
        }
    }
    
    .b-slider__arrow{
        display: none;
    }
}

@media screen and (max-width: 440px){
    .b-guide{
        margin: 0 -20px 12px;
        padding-right: 20px;
        border-radius: 0;
        box-shadow: none;
        min-height: 272px;
    }
    
    .b-recent{
        margin-right: -20px;
        margin-left: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .b-steps{
        margin-right: -20px;
        margin-left: -20px;
        padding-right: 20px;
        padding-left: 20px;
        border-color: #e6e7e8;
    }
    
    .b-related{
        position: relative;
        border-bottom: none;
        
        &:before{
            content: '';
            position: absolute;
            right: -20px;
            left: -20px;
            bottom: 0;
            height:1px;
            background-color: #E6E7E8;
        }
    }
}

@media screen and (max-width: 370px) {
    .b-guide__tags .btn-round{
        margin-right: 10px;
        margin-bottom: 10px;
    }
    
    .btn-round{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .b-slider__img{
        height: 110px;
        
        &.state_active{
            height: 140px;
        }
    }
    
    .b-related__img{
        height: 200px;
    }
    
    .b-subs__btn{
        padding-left: 15px;
        
        &:before,
        &:after{
            display: none;
        }
    }
}